@charset "utf-8";

@font-face {
    font-family: Base;
    src: url(../fonts/Pretendard-Medium.woff);
    font-display: swap;
  }
  @font-face {
    font-family: BaseBold;
    src: url(../fonts/Pretendard-Bold.woff);
    font-display: swap;
  }

  html, input, button {font-family: "Base", sans-serif;}
  h1, h2{font-family: "BaseBold";}
  h3, h4, h5, h6, strong, b, p {font-family: "Base";}
  .en {font-family: "BaseEn";}
  .enBold {font-family: "BaseEnBold";}
  